html
    min-height 100%

*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)  
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  box-sizing border-box

body
  height 100%
  overflow-y auto
  overflow-x hidden
  margin 0
  background color-creme
  padding-bottom 10vw
  
.hidden
	display none
	opacity 0
 
// CRATES 
 
.PrimaryCrate {
  width: 100%;
  background: white;
  min-height: 90px;
  float: left;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.03);
  position: absolute;
  transition: opacity 200ms ease-out;
  top: 86px;
  z-index: 999;
  
}
@media breakpointLg {
  .PrimaryCrate {
    width: 50%;
    min-height: calc(100vh - 86px);
    position: fixed;
    top: 0px;
    margin-top: 86px;
  }
}
.PrimaryCrate.InActive {
  opacity: .5;
}

//SECONDARY CRATE 

.SecondaryCrate {
  width: 100%;
  background: color-creme;
  min-height: 100vh;
  float: right;
  padding-bottom: 45px;
  margin-top: 179px;
  transition: all 300ms ease-out;
  // padding-top: 85px;
}
@media breakpointLg {
  .SecondaryCrate {
    width: 50%;
    min-height: 100vh;
    margin-top: 120px;
  }
}
.SecondaryCrate.InActive {
  opacity: .2;
  transform: scale(.99);
}


//MENU ITEM CARDS

.MenuGroup {
  padding: 12px;
  margin-bottom: -15px;
}
@media breakpointLg {
  .MenuGroup {
    padding: 32px 42px;
    padding-bottom: 0px;
    margin-bottom: -25px;
  }
}
.MenuGroupLabel {
  font-weight: bold;
  opacity: .5;
  text-transform: uppercase;
  color: color-warmblack;
  letter-spacing: .07rem;
  font-size: 12px;
  margin: 0 6px 12px 0;
  margin-bottom: 12px;
  display: block;
  color: hsla(0,0%,0%, .5)
}
@media breakpointMd {
  .MenuGroupLabel {
    margin: 12px 6px;
  }
}
@media breakpointLg {
  .MenuGroupLabel {
    margin: 12px 6px 12px 0;
  }
}
@media breakpointXl {
  .MenuGroupLabel {
    margin: 0 6px 12px 6px ;
  }
}
.MenuGroup:last-child {
  margin-bottom: 0;
}
.MenuItem {
  background: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
  margin-bottom: 4px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  padding: 12px;
  //opacity: 0;
  width: 100%;
}
@media breakpointMd {
  .MenuItem {
    width: calc(50% - 12px);
    margin: 0 6px 11.25px 6px;
    display: inline-block;
  }
}
@media breakpointLg {
  .MenuItem {
    width: 100%;
    margin: 0;
  }
}
@media breakpointXl {
  .MenuItem {
    width: calc(50% - 15px);
    margin: 0 7.5px 11.25px 7.5px;
    display: inline-block;
  }
}
.MenuItem:hover {
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.13);
}
// .MenuItem.TextOnly  {
//   background: transparent;
//   box-shadow: none;
//   padding-left: 0;
//   padding-bottom: 0;
// }
.MenuItemThumb {
  background-color: color-warmblack;
  background-size: cover;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 15px;
  float: left;
}
@media breakpointXl {
  .MenuItemThumb {
    width: 90px;
    height: 90px;
  }
}
.MenuItemDetails {
  display: inline;
  vertical-align: middle;
  height: 60px;
  float: left;
  max-width: 55%;
}
@media breakpointXl {
  .MenuItemDetails {
    height: 90px;
  }
}
.MenuItem.TextOnly .MenuItemDetails {
  height: 33px;
  max-width: 80%;
}
.MenuItemTitle {
  color: color-warmblack;
  font-size: 15px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  line-height: 130%;
}
.MenuItemCal {
  color: color-warmblack;
  font-size: 11px;
  opacity: .4;
  display: block;
  margin-top: .15px;
  font-size: 12px;
  font-family: AvenirNext-Regular;
}
@media breakpointXl {
  .MenuItemCal {
    margin-top: 6px;
  }
}
.MenuItemAddButton {
  border:none;
  outline: none;
  height: 24px;
  width: 24px;
  background: url(_img/add_circle_outline.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 33px;
  right: 12px;
  cursor: crosshair;
}
@media breakpointXl {
  .MenuItemAddButton {
    top: 48px;
  }  
}


