.GlobalNav {
  padding: 12px;
  min-height: 48px;
  overflow: auto;
  border-bottom: 1px solid hsla(0,0%,0%,.1);
}
@media breakpointLg {
  .GlobalNav {
    padding: 48px;
    border-bottom: none;
  }
}
.StarbucksLogo {
  height: 48px;
  width: 48px;
  background: url(_img/logo.svg) no-repeat;
  background-size: 100%;
  display: inline-block;
  text-indent: -999999px;
  float: left;
}
@media breakpointLg {
  .StarbucksLogo {
    height: 60px;
  	width: 60px;
  }
}
.GlobalNav nav {
  display: inline-block;
}

.GlobalNav a, .GlobalNav a:hover {
  color: color-warmblack
}
// .GlobalNav .StarbucksLogo {
// 	display: none;
// }

.PrimaryNav {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: visible;
  margin-left: 24px;
  float: left;
  margin-top: 18px;
}
@media breakpointMd {
	.PrimaryNav {
		display: inline;
    margin-top: 24px;  
	}
}
.PrimaryNav li {
  text-transform: uppercase;
  float: left;
  margin: 0vw;
  letter-spacing: .12rem;
  font-size: 12px;
  margin-right: 17px;
  cursor: pointer;
  font-family: AvenirNext-DemiBold;
}
.AdoNav .SearchButton {
	width: 2rem;
	height: 2rem;
	background: url(https://openclipart.org/image/2400px/svg_to_png/213239/Search-icon.png) no-repeat;
	background-size: 50%;
	background-position: center center;
	position: absolute;
	top: 2rem;
	right: 2rem;
	opacity: .5;
}
.PrimaryNav .Search {
	width: 2rem;
	height: 2rem;
	background: url(_img/icon_search.svg) no-repeat;
	background-size: 50%;
	background-position: center center;
	opacity: .5;
	text-indent: -9999px;
	margin-top: -.4rem;
}
.SignInOutButton {
  outline: none;
  border: 1px solid color-warmblack;
  color: color-warmblack;
  border-radius: 4px;
  padding: .7rem;
  font-size: 12px;
  text-transform: uppercase;
  float: right;
  letter-spacing: .08rem;
  cursor: pointer;
  background: transparent;
  display: none;
}
@media breakpointLg {
 .SignInOutButton {
    padding: .6rem;
    font-size: 10px;
    margin-top: .9rem;
    display: inline-block;
  } 
}

.SignInPrompt {
  background: color-strawgreen;
  color: white;
  padding: 1rem;
  overflow: auto;
  margin-top: -1px;
}
@media breakpointLg { 
  .SignInPrompt {
    display: none;
  }
}

.SignInPrompt span {
  float: left;
  margin-top: 0rem;
  width: calc(100% - 100px)
}

.SignInPrompt .SignInOutButton {
  float: right;
  color: white;
  border-color: white;
  margin-top: 0px;
  display: inline-block;
}