@-webkit-keyframes heart {
  0%,
  18.51852% {
    height: 0;
    width: 0;
    top: 50%;
    margin-top: 0;
    margin-left: 0;
  }
  44.44444% {
    height: 1.875em;
    width: 1.875em;
    top: 54%;
    margin-top: -0.9375em;
    margin-left: -0.9375em;
  }
  62.96296% {
    height: 1.5em;
    width: 1.5em;
    top: 54%;
    margin-top: -0.75em;
    margin-left: -0.75em;
  }
  81.48148% {
    height: 1.5375em;
    width: 1.5375em;
    top: 54%;
    margin-top: -0.76875em;
    margin-left: -0.76875em;
  }
  100% {
    height: 1.5em;
    width: 1.5em;
    top: 54%;
    margin-top: -0.75em;
    margin-left: -0.75em;
  }
}
@keyframes heart {
  0%,
  18.51852% {
    height: 0;
    width: 0;
    top: 50%;
    margin-top: 0;
    margin-left: 0;
  }
  44.44444% {
    height: 1.875em;
    width: 1.875em;
    top: 54%;
    margin-top: -0.9375em;
    margin-left: -0.9375em;
  }
  62.96296% {
    height: 1.5em;
    width: 1.5em;
    top: 54%;
    margin-top: -0.75em;
    margin-left: -0.75em;
  }
  81.48148% {
    height: 1.5375em;
    width: 1.5375em;
    top: 54%;
    margin-top: -0.76875em;
    margin-left: -0.76875em;
  }
  100% {
    height: 1.5em;
    width: 1.5em;
    top: 54%;
    margin-top: -0.75em;
    margin-left: -0.75em;
  }
}
@-webkit-keyframes ring {
  0% {
    height: 0;
    width: 0;
    border-width: 0;
    margin-top: 0;
    margin-left: 0;
  }
  3.7037% {
    height: 0;
    width: 0;
    border-width: 0.15em;
    margin-top: -0.15em;
    margin-left: -0.15em;
    border-color: #C2A661;
  }
  7.40741% {
    height: 0;
    width: 0;
    border-width: 1.05em;
    margin-top: -1.05em;
    margin-left: -1.05em;
  }
  11.11111% {
    height: 0;
    width: 0;
    border-width: 1.2em;
    margin-top: -1.2em;
    margin-left: -1.2em;
  }
  14.81481% {
    height: 0;
    width: 0;
    border-width: 1.275em;
    margin-top: -1.275em;
    margin-left: -1.275em;
  }
  18.51852% {
    width: 1.8em;
    height: 1.8em;
    border-width: 0.375em;
    border-color: #F2BF41;
  }
  22.22222% {
    width: 2.4em;
    height: 2.4em;
    border-width: 0.075em;
  }
  25.92593%,
  100% {
    width: 2.55em;
    height: 2.55em;
    border-width: 0;
    margin-top: -1.275em;
    margin-left: -1.275em;
  }
}
@keyframes ring {
  0% {
    height: 0;
    width: 0;
    border-width: 0;
    margin-top: 0;
    margin-left: 0;
  }
  3.7037% {
    height: 0;
    width: 0;
    border-width: 0.15em;
    margin-top: -0.15em;
    margin-left: -0.15em;
    border-color: #C2A661;
  }
  7.40741% {
    height: 0;
    width: 0;
    border-width: 1.05em;
    margin-top: -1.05em;
    margin-left: -1.05em;
  }
  11.11111% {
    height: 0;
    width: 0;
    border-width: 1.2em;
    margin-top: -1.2em;
    margin-left: -1.2em;
  }
  14.81481% {
    height: 0;
    width: 0;
    border-width: 1.275em;
    margin-top: -1.275em;
    margin-left: -1.275em;
  }
  18.51852% {
    width: 1.8em;
    height: 1.8em;
    border-width: 0.375em;
    border-color: #F2BF41;
  }
  22.22222% {
    width: 2.4em;
    height: 2.4em;
    border-width: 0.075em;
  }
  25.92593%,
  100% {
    width: 2.55em;
    height: 2.55em;
    border-width: 0;
    margin-top: -1.275em;
    margin-left: -1.275em;
  }
}
@-webkit-keyframes circles {
  0%,
  18.51852% {
    box-shadow: -0.7955em -0.7955em 0 -0.125em #00af66, -0.8618em -0.72314em 0 -0.125em #c2a661, 0.12596em -1.11793em 0 -0.125em #00af66, 0.02805em -1.12465em 0 -0.125em #c2a661, 0.95256em -0.59854em 0 -0.125em #00af66, 0.89677em -0.67928em 0 -0.125em #c2a661, 1.06187em 0.37156em 0 -0.125em #00af66, 1.09021em 0.2776em 0 -0.125em #c2a661, 0.37156em 1.06187em 0 -0.125em #00af66, 0.4627em 1.02544em 0 -0.125em #c2a661, -0.59854em 0.95256em 0 -0.125em #00af66, -0.51324em 1.00111em 0 -0.125em #c2a661, -1.11793em 0.12596em 0 -0.125em #00af66, -1.10269em 0.22291em 0 -0.125em #c2a661;
  }
  22.22222% {
    box-shadow: -0.84853em -0.84853em 0 -0.05em #00af66, -0.97671em -0.81955em 0 -0.05em #c2a661, 0.13436em -1.19245em 0 -0.05em #00af66, 0.03179em -1.2746em 0 -0.05em #c2a661, 1.01607em -0.63844em 0 -0.05em #00af66, 1.01634em -0.76985em 0 -0.05em #c2a661, 1.13266em 0.39633em 0 -0.05em #00af66, 1.23557em 0.31462em 0 -0.05em #c2a661, 0.39633em 1.13266em 0 -0.05em #00af66, 0.52439em 1.16217em 0 -0.05em #c2a661, -0.63844em 1.01607em 0 -0.05em #00af66, -0.58167em 1.13459em 0 -0.05em #c2a661, -1.19245em 0.13436em 0 -0.05em #00af66, -1.24972em 0.25264em 0 -0.05em #c2a661;
  }
  51.85185% {
    box-shadow: -1.27279em -1.27279em 0 -0.025em #00764a, -1.25801em -0.81696em 0 -0.0875em #e6b949, 0.20154em -1.78868em 0 -0.025em #00764a, -0.14563em -1.49291em 0 -0.0875em #e6b949, 1.5241em -0.95766em 0 -0.025em #00764a, 1.07641em -1.04467em 0 -0.0875em #e6b949, 1.69899em 0.5945em 0 -0.025em #00764a, 1.48789em 0.19023em 0 -0.0875em #e6b949, 0.5945em 1.69899em 0 -0.025em #00764a, 0.77896em 1.28188em 0 -0.0875em #e6b949, -0.95766em 1.5241em 0 -0.025em #00764a, -0.51654em 1.40826em 0 -0.0875em #e6b949, -1.78868em 0.20154em 0 -0.025em #00764a, -1.42308em 0.47418em 0 -0.0875em #e6b949;
  }
  81.48148%,
  100% {
    box-shadow: -1.27279em -1.27279em 0 -0.125em #006341, -1.25801em -0.81696em 0 -0.125em #f2bf41, 0.20154em -1.78868em 0 -0.125em #006341, -0.14563em -1.49291em 0 -0.125em #f2bf41, 1.5241em -0.95766em 0 -0.125em #006341, 1.07641em -1.04467em 0 -0.125em #f2bf41, 1.69899em 0.5945em 0 -0.125em #006341, 1.48789em 0.19023em 0 -0.125em #f2bf41, 0.5945em 1.69899em 0 -0.125em #006341, 0.77896em 1.28188em 0 -0.125em #f2bf41, -0.95766em 1.5241em 0 -0.125em #006341, -0.51654em 1.40826em 0 -0.125em #f2bf41, -1.78868em 0.20154em 0 -0.125em #006341, -1.42308em 0.47418em 0 -0.125em #f2bf41;
  }
}
@keyframes circles {
  0%,
  18.51852% {
    box-shadow: -0.7955em -0.7955em 0 -0.125em #00af66, -0.8618em -0.72314em 0 -0.125em #c2a661, 0.12596em -1.11793em 0 -0.125em #00af66, 0.02805em -1.12465em 0 -0.125em #c2a661, 0.95256em -0.59854em 0 -0.125em #00af66, 0.89677em -0.67928em 0 -0.125em #c2a661, 1.06187em 0.37156em 0 -0.125em #00af66, 1.09021em 0.2776em 0 -0.125em #c2a661, 0.37156em 1.06187em 0 -0.125em #00af66, 0.4627em 1.02544em 0 -0.125em #c2a661, -0.59854em 0.95256em 0 -0.125em #00af66, -0.51324em 1.00111em 0 -0.125em #c2a661, -1.11793em 0.12596em 0 -0.125em #00af66, -1.10269em 0.22291em 0 -0.125em #c2a661;
  }
  22.22222% {
    box-shadow: -0.84853em -0.84853em 0 -0.05em #00af66, -0.97671em -0.81955em 0 -0.05em #c2a661, 0.13436em -1.19245em 0 -0.05em #00af66, 0.03179em -1.2746em 0 -0.05em #c2a661, 1.01607em -0.63844em 0 -0.05em #00af66, 1.01634em -0.76985em 0 -0.05em #c2a661, 1.13266em 0.39633em 0 -0.05em #00af66, 1.23557em 0.31462em 0 -0.05em #c2a661, 0.39633em 1.13266em 0 -0.05em #00af66, 0.52439em 1.16217em 0 -0.05em #c2a661, -0.63844em 1.01607em 0 -0.05em #00af66, -0.58167em 1.13459em 0 -0.05em #c2a661, -1.19245em 0.13436em 0 -0.05em #00af66, -1.24972em 0.25264em 0 -0.05em #c2a661;
  }
  51.85185% {
    box-shadow: -1.27279em -1.27279em 0 -0.025em #00764a, -1.25801em -0.81696em 0 -0.0875em #e6b949, 0.20154em -1.78868em 0 -0.025em #00764a, -0.14563em -1.49291em 0 -0.0875em #e6b949, 1.5241em -0.95766em 0 -0.025em #00764a, 1.07641em -1.04467em 0 -0.0875em #e6b949, 1.69899em 0.5945em 0 -0.025em #00764a, 1.48789em 0.19023em 0 -0.0875em #e6b949, 0.5945em 1.69899em 0 -0.025em #00764a, 0.77896em 1.28188em 0 -0.0875em #e6b949, -0.95766em 1.5241em 0 -0.025em #00764a, -0.51654em 1.40826em 0 -0.0875em #e6b949, -1.78868em 0.20154em 0 -0.025em #00764a, -1.42308em 0.47418em 0 -0.0875em #e6b949;
  }
  81.48148%,
  100% {
    box-shadow: -1.27279em -1.27279em 0 -0.125em #006341, -1.25801em -0.81696em 0 -0.125em #f2bf41, 0.20154em -1.78868em 0 -0.125em #006341, -0.14563em -1.49291em 0 -0.125em #f2bf41, 1.5241em -0.95766em 0 -0.125em #006341, 1.07641em -1.04467em 0 -0.125em #f2bf41, 1.69899em 0.5945em 0 -0.125em #006341, 1.48789em 0.19023em 0 -0.125em #f2bf41, 0.5945em 1.69899em 0 -0.125em #006341, 0.77896em 1.28188em 0 -0.125em #f2bf41, -0.95766em 1.5241em 0 -0.125em #006341, -0.51654em 1.40826em 0 -0.125em #f2bf41, -1.78868em 0.20154em 0 -0.125em #006341, -1.42308em 0.47418em 0 -0.125em #f2bf41;
  }
}
.heart-wrapper {
  height: 4.5em;
  width: 4.5em;
  position: relative;
  cursor: pointer;
}
.heart-wrapper .heart {
  display: block;
  height: 1.5em;
  width: 1.5em;
  top: 54%;
  margin-top: -0.75em;
  margin-left: -0.75em;
  left: 50%;
  position: absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/91488/heart_white.svg) no-repeat;
  background-size: 100%;
  z-index: 0;
}
.heart-wrapper .heart > * {
  overflow: hidden;
  position: absolute;
}
.heart-wrapper .heart > *:after {
  display: block;
  content: '';
  position: absolute;
  background: #00AF66;
}
.heart-wrapper .ring {
  display: block;
  position: absolute;
  border-width: 0;
  border-style: solid;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: 1;
}
.heart-wrapper .circles {
  display: block;
  position: absolute;
  height: 0.25em;
  width: 0.25em;
  top: 50%;
  left: 50%;
  margin-top: -0.125em;
  margin-left: -0.125em;
  z-index: 2;
  border-radius: 50%;
}
.heart-wrapper:hover .heart .tl:after, .heart-wrapper:hover .heart .tr:after, .heart-wrapper:hover .heart .bl:after, .heart-wrapper:hover .heart .br:after {
  background: #00AF66;
}
.heart-wrapper.active .heart {
  -webkit-animation-name: heart;
          animation-name: heart;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/91488/heart_green.svg) no-repeat;
  background-size: 100%;
}
.heart-wrapper.active .heart .tl:after, .heart-wrapper.active .heart .tr:after, .heart-wrapper.active .heart .bl:after, .heart-wrapper.active .heart .br:after {
  background: #00AF66;
}
.heart-wrapper.active .ring {
  -webkit-animation-name: ring;
          animation-name: ring;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.heart-wrapper.active .circles {
  -webkit-animation-name: circles;
          animation-name: circles;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

/* -------------------------------------------------- */
// html {
//   font-size: 8px;
// }

// @media (min-width: 768px) {
//   html {
//     font-size: 16px;
//   }
// }
// body {
//   background: #ccc;
//   margin: 0;
//   padding: 0;
// }

.heart-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.25em 0 0 -2.25em;
}
