// MENU NAVIGATION

.MenuNav {
  cursor: pointer;
  display: block;
}
@media breakpointLg {
  .MenuNav {
    display: block;
    margin-left: 135px;
    height 80vh;
  }
}
.MenuNav ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media breakpointLg {
  .MenuNav .CatMenu {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.MenuNav .CatMenu li {
  font-size: 24px;
  margin: 30px 0;
  color: color-warmblack;
  display: none;
  transition: all 200ms ease-out;
}
.MenuNav .CatMenu li:hover {
  opacity: 1;
}
@media breakpointLg {
  .MenuNav .CatMenu li {
    display: block;
    opacity: .5;
    font-size: 30px;
  }
}
.MenuNav .CatMenu li.Active {
  display: block;
  margin: 0;
  margin-left: 15px;
  margin-top: 10px;
  opacity: 1;
}
@media breakpointLg {
  .MenuNav .CatMenu li.Active {
    margin: 30px 0;
  }
}
.MenuNav .SubcatMenuCont {
  width: 100%;
  margin-top: 7.5px;
  overflow: scroll;
}
.MenuNav .SubcatMenuCont::-webkit-scrollbar {
  display: none;
}
.MenuNav .SubcatMenu {
  height: auto;
  width: 700px;
  padding-left: 7.5px;
}
@media breakpointLg {
  .MenuNav .SubcatMenu {
    margin-bottom: 30px;
    height: auto;
  }
}
.MenuNav .SubcatMenu li {
  font-weight: bold;
  text-transform: uppercase;
  color: hsla(0,0%,0%,.5);
  letter-spacing: .07rem;
  font-size: 12px;
  margin-left: 30px;
  margin-bottom: -7.5px;
  display: inline-block;
  margin: 0 7.5px;
}
@media breakpointLg {
  .MenuNav .SubcatMenu li {
    display: block;
    margin: 15px 7.5px;
  }
}
.MenuNav .SubcatMenu li.Active {
  display: inline-block;
  color: color-warmblack;
  margin: 0px 7.5px;
}
@media breakpointLg {
  .MenuNav .SubcatMenu li.Active {
    display: block;
    margin: 15px 7.5px;
  }
}
.MenuNav .SubcatMenu li a{
  border-bottom: 3px solid transparent;
  display: inline-block;
  padding-bottom: 9px;
  transition: all 200ms ease-out;
}
// .MenuNav .SubcatMenu li a:hover{
//   border-bottom: 3px solid color-strawgreen;
// }
@media breakpointLg {
  .MenuNav .SubcatMenu li a{
    padding-bottom: 2px;
    display: inline;
  }
}
.MenuNav .SubcatMenu li.Active a{
  border-bottom: 3px solid color-strawgreen;
}
// @media breakpointLg {
//   .MenuNav .SubcatMenu li.Active a{
//     padding-bottom: 2px;
//     display: inline;
//   }
// }
.MenuNav .CatMenu .MenuNavParentButton {
  font-weight: bold;
  text-transform: uppercase;
  color: color-warmblack;
  color: hsla(0,0%,0%,.5)
  letter-spacing: .07rem;
  font-size: 12px;
  opacity: 1;
  display: none;
}
@media breakpointLg {
  .MenuNav .CatMenu .MenuNavParentButton {
    display: block;
  }
}
.MenuNav .CatMenu .MenuNavParentButton div {
  text-indent: -99999px;
  display: inline-block;
  background: red;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  background: url(_img/icon_arrow_upleft.svg) no-repeat;
  background-size: 100%;
}

.MenuNav .SubcatMenu li.Desktop {
  display: none;
}

@media breakpointLg {
  .MenuNav .SubcatMenu li.Mobile {
    display: none;
  }
  .MenuNav .SubcatMenu li.Desktop {
  display: block;
}
}
