#MenuDetailCont {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 999999999;
	
}
@media breakpointLg {
	#MenuDetailCont {
		width: 50%;
	}
}
.MenuDetail {
	min-height: 900px;
	opacity: 0;
	transform: scale(.99);
	transition: all 100ms ease-out;
	z-index: 999999999;
	margin: 0;
	width: 100%;
	background: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}
@media breakpointLg {
	.MenuDetail {
		margin: 6px;
		margin-top: -10px;
		width: calc(100% - 12px);
	}
}
.MenuDetail.Active {
	transition: all 200ms ease-out;
	transform: scale(1);
	opacity: 1;
}
.MenuDetailTop {
	position: relative;
	border-radius: 2px 2px 0px 0px;
	height: 0px;
	padding-bottom: 70%;
	background: color-warmblack;
	overflow: hidden;
}
.MenuDetailThumb{
	position: absolute;
	top: 0px;
	width: 120%;
	margin-left: -10%;
	margin-top: -10%;
	background: url(_img/yogurt.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	height: 0px;
	padding-bottom: 80%;
	-webkit-filter: blur(20px);
	opacity: .7;
}
.MenuDetailFavorite {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 24px;
	height: 24px;
	background-size: 100%;
}
@media breakpointLg {
	.MenuDetailFavorite {
		top: 32px;
		left: 32px;
	}
}
.MenuDetailClose {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 24px;
	height: 24px;
	background: url(_img/close.svg) no-repeat;
	background-size: 140%;
	background-position: center center;
	cursor: pointer;
	z-index: 9999
}
@media breakpointLg {
	.MenuDetailClose {
		top: 32px;
		right: 32px;
	}
}
.MenuDetailAddButton {
	position: absolute;
	bottom: 12px;
	right: 12px;
	height: 48px;
	width: 180px;
	background: white;
	border-radius: 2px;
	z-index: 9999;
}
@media breakpointLg {
	.MenuDetailAddButton {
		bottom: 32px;
		right: 32px;
		height: 48px;
	}
}
.MenuDetailTitle {
	font-size: 1.5rem;
	margin-bottom: 12px;
}
@media breakpointLg {
	.MenuDetailTitle {
		font-size: 2rem;
		margin-bottom: 32px;
	}
}
.MenuDetailCard {
	background: white;
  padding: 12px;
  min-height: 400px;
}
@media breakpointLg {
	.MenuDetailCard {
		padding: 32px
	}
}
.MenuDetailCard p {
	opacity: .6;
}

