.NewGlobalNav {
	background: white;
	overflow: auto;
	padding: 12px 12px 12px 12px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.05), 0 2px 3px rgba(0,0,0,0.05);
	z-index: 999999;
	position: fixed;
	width: 100%;
}
.NewGlobalNav.Open {
	box-shadow: none;
}
@media breakpointMd {
	.NewGlobalNav {
		padding: 24px 24px 24px 24px;
	}
}
@media breakpointLg {
	.NewGlobalNav {
		padding: 24px 48px 24px 48px;
		width: calc(100% -96px);
	}
}
.NewGlobalNav .PrimaryNav {
	display: none;
}
@media breakpointMd {
	.NewGlobalNav .PrimaryNav {
		display: block;
	}
}
.NewGlobalNav .StarbucksLogo {
	width: 60px;
	height: 60px;
}
.NewGlobalNav .AuthButton {
	outline: none;
	border: 1px solid color-warmblack;
	color: color-warmblack;
	border-radius: 4px;
	padding: .7rem;
	font-size: 11px;
	text-transform: uppercase;
	float: right;
	letter-spacing: .08rem;
	cursor: pointer;
	background: transparent;
	display: none;
	padding: .9rem .7rem .7rem .7rem;
	border-radius: 3px;
	font-weight: bold;
	display: block;
	margin-top: 0.9rem;
	height: 36px;
	display: none;
}
@media breakpointMd {
	.NewGlobalNav .AuthButton {
		display: block;
	}
}
.SearchField {
	padding: .9rem .7rem .7rem .7rem;
	border-radius: 3px;
	border: 1px solid white;
	float: right;
	margin-top: 13px;
	font-size: 13px;
	height: 36px;
	margin-left: 12px;
	outline: none;
	background: url("_img/icon_search2.svg") no-repeat;
	background-position: 6px center;
	background-size: 24px;
	width: 36px;
	text-indent: -99999px;
	display: none;
}
@media breakpointMd {
	.SearchField {
		display: block;
	}
}
@media breakpointLg {
	.SearchField {
		width: 200px;
		background-position: 168px center;
		border: 1px solid #ccc;
		padding: .9rem 3rem .7rem .7rem;
		text-indent: 0px;
	}
}
.SearchField:focus {
	border-color: black;
	color: black;
}
.Hammy {
	width: 36px;
	height: 36px;
	background: url("_img/icon_hammy.svg") no-repeat;
	background-size: 70%;
	background-position: center right;
	float: right;
	margin-top: 13px;
	transition: background-image 200ms ease-out;
	cursor: pointer;
	
}
.Hammy.Open {
	background-image: url("_img/icon_hammy_close.svg");
}

@media breakpointMd {
	.Hammy {
		display: none;
	}
}
.HammyNav {
	background: white;
	position: absolute;
	overflow: hidden;
	top: 84px;
	height: 0px;
	margin-left: -12px;
	margin-top: 0px;
	width: 100%;
	transition: height 200ms ease-out, border-color 200ms ease-out;
	border-top: 1px solid white;
	padding: 0px;
	z-index: 999999999;

}
@media breakpointMd {
	.HammyNav {
		display: none;
	}
}
.HammyNav.Open {
	height: 180px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.05), 0 2px 3px rgba(0,0,0,0.05);
	border-color: hsla(0,0%,0%,.1);
}
.HammyNav li {
	list-style: none;
	padding: 0px;
	width: calc(50% - 48px);
	float: left;
	text-transform: uppercase;
  float: left;
  letter-spacing: .12rem;
  font-size: 12px;
  margin-right: 17px;
  cursor: pointer;
  margin: 24px 24px;
  font-weight: bold;
}