@font-face {
    font-family: 'GothamBook';
    src: url('_fonts/GothamBook.eot');
    src: url('_fonts/GothamBook.eot') format('embedded-opentype'),
         url('_fonts/GothamBook.woff2') format('woff2'),
         url('_fonts/GothamBook.woff') format('woff'),
         url('_fonts/GothamBook.ttf') format('truetype'),
         url('_fonts/GothamBook.svg#GothamBook') format('svg');
}

html
	font-size 15px
	font-family typeface-body, serif

body, p
	font-size 1rem

.unselectable
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

p
	line-height 150%
	margin -.5em 0 1em 0
	text-align left
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&.large
		font-size 18px
		font-family Avenir-Medium
	&.Shaded
		opacity .5
	@media tablet
		text-align justify
		
.col-md-4 p
	text-align left
	
a
	text-decoration: none
	color text-color
	&:visited, &:link
		color text-color
	&.cta
		padding .5rem .8rem
		border 1px solid
		transition all 200ms ease-out
		border-radius .3rem
		position relative 
		top 1.2rem
		background transparent
		color black
		border-color black
		cursor pointer
		&:hover
			background black
			color white
			border-color black
		&.inverted
			border-color white
			color white
			background transparent
			&:hover
				border-color white
				background white
				color black
		

hr
	width 100%
	height 1px
	border none
	background black
	opacity .2
	margin 4vw 0
	
strong 
	font-weight normal

h1,h2,h3,h4,h5,h6
	margin 0 0
	padding: 0 0
	font-family: typeface-headline
	font-weight: normal
	line-height 130%
	position relative
	z-index 9999
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	i
		font-style normal

h1
	font-size 9vw
	margin-top -1vw
	font-family typeface-headline
	@media laptop
		font-size 7.5vw
	
h2
	font-size 1.3rem
	font-family typeface-headline
	margin 0em 0 .5em 0
	@media laptop
		font-size 3rem
		margin -.53rem 0px 2.5rem 0px

h3, h4
	font-size .9rem
	font-family typeface-headline
	margin-bottom 10vw
	@media laptop 
		margin-bottom 2rem
	
h5
	font-size 1.8rem
	
h6
	font-size 1.25rem
	color blue
	


		